@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, #588faf 0%, #ffffff 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a2system-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a2system-logo-container img {
    width: 235px;
}

.a2system-logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
}

.a2system-logo-container p {
    font-size: 14px;
    font-weight: 300;
}

.a2system-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.a2system-sales-title {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

.a2system-card {
    background-color: #588faf;
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 10px;
}

.a2system-form-control {
    width: 100%;
    height: 46px;
    background-color: #1b2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px;
}

.a2system-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.a2system-sales-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.a2system-sales-table thead {
    height: 55px;
    font-size: 16px;
    font-weight: 700;
}

.a2system-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.a2system-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82;
}

.a2system-sales-table tbody tr:hover > td {
    background-color: #384459;
}

.a2system-sales-table tbody tr:nth-child(odd) {
    background-color: #84b1ca;
}

.a2system-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.a2system-red-btn img {
    width: 19px;
}

.a2system-red-btn-container{
    display: flex;
    justify-content: center;
}

.show-576 {
    display: none;
}

.show-992 {
    display: none;
}

#sales {
    padding: 40px 10px;
}

@media (min-width: 576px) {
    .show-576 {
        display: table-cell;
    }
    .a2system-card {
        padding: 35px;
    }
    .a2system-sales-table tr {
        height: 55px;
    }
    .a2system-sales-table tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .show-992 {
        display: table-cell;
    }
}